@font-face {
    font-family: 'BN Chester';
    src: url('bn_chester-webfont.woff2') format('woff2'),
         url('bn_chester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}