@import "../../fonts/BN-Chester/stylesheet.css";
@import "../../fonts/Gilroy/stylesheet.css";
@import "../helpers/variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  background-color: $main-orange;
}

h1 {
  font-family: "BN Chester";
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  span {
    font-family: "BN Chester";
    color: $main-orange;
    font-size: calc(1.375rem + 1.5vw);
  }
}

h3 {
  font-weight: 600;
  margin: 20px 0px 0px;
  span {
    color: $main-orange;
    font-size: calc(1.3rem + .6vw);
  }
}

li {
  margin-top: 20px;
}

.return-link {
  position: absolute;
  top: -10%;
  left: 0;
  color: $main-white;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: $main-white;
  }
}

.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $main-white;
  border-radius: 20px;
  padding: 30px 10px;
  box-shadow: 8px 8px 16px #ab8352, -8px -8px 16px #fbc178;
}

.info-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.customer-info-container,
.subscription-info-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 0px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  * {
    font-size: 16px;
  }
}

