@import url("../fonts/Gilroy/stylesheet.css");
@import url("../fonts/BN-Chester/stylesheet.css");
@import "./helpers/variables";

@import "./media/media-xs";
@import "./media/media-sm";
@import "./media/media-md";
@import "./media/media-lg";
@import "./media/media-xl";

// General

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  user-select: none;
}

p,
a {
  font-weight: 500;
  color: $main-black;
}

p {
  line-height: 170%;
}

a {
  color: $main-black !important;
}

body {
  background-color: $body-background-color !important;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-orange;
    border-radius: 10px;
  }
}

// Opacity

.header-link,
.contact-phone,
.dropdown,
.hero-img,
#header-logo,
#hamburger-container,
#our-services-section-header,
#interior-design-card-icon,
#interior-design-card-header,
#interior-design-card-description,
#hero-header-h1,
#hero-header-p,
#hero-header-button,
#about-studio-section-header,
#about-studio-main-text,
#about-studio-more-text,
#about-studio-more,
#services-splitting-line,
#decorative-services-card-icon,
#decorative-services-card-header,
#decorative-services-card-description,
#planning-splitting-line,
#space-planning-card-icon,
#space-planning-card-header,
#space-planning-card-description,
#management-splitting-line,
#project-management-card-icon,
#project-management-card-header,
#project-management-card-description,
#consultation-button,
#our-portfolio-section-header,
#filter,
#gallery-img,
#tabs-container-more,
#our-pricing-section-header,
#pricing-card-basic,
#pricing-card-standart,
#pricing-card-premium,
#testimonials-section-header,
#question-section-header,
#order-a-call-button {
  opacity: 0;
}

// Navbar

.navbar {
  background-color: transparent;
  span {
    display: block;
    width: 100%;
    background-color: $main-black;
    height: 3px;
    position: absolute;
    border-radius: 20px;
    &:nth-child(1) {
      width: 60%;
      top: 0;
      right: 0;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
    }
    &:nth-child(3) {
      width: 60%;
      left: 0;
      bottom: 0;
    }
  }
}

.hamburger-container {
  width: 35px;
  height: 25px;
  position: relative;
}

.navbar-brand {
  img {
    display: block;
  }
}

// Sidenav

.sidenav-back-panel {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.sidenav {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $main-white;
  overflow-x: hidden;
  transition: 0.6s;
  z-index: 10;
  padding-top: 100px;

  .navigation {
    text-align: end;
    display: block;
    p {
      font-weight: 600;
      font-size: 30px;
      -webkit-text-decoration: solid underline 2px $main-orange;
      -moz-text-decoration: solid underline 2px $main-orange;
      -ms-text-decoration: solid underline 2px $main-orange;
      -o-text-decoration: solid underline 2px $main-orange;
      text-decoration: solid underline 2px $main-orange;
      -webkit-text-underline-offset: 8px;
      -moz-text-underline-offset: 8px;
      -ms-text-underline-offset: 8px;
      -o-text-underline-offset: 8px;
      text-underline-offset: 8px;
    }
  }
}

// Main

.hero-header {
  background-color: $main-white;
}

.get-started-button {
  background-color: transparent;
  border: $button-border;
  font-weight: 700;
  border-radius: 8px;
}

.main-btn {
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 2px $main-orange;
  }
}

// About Studio

.about-studio-header {
  h2 {
    max-width: min-content;
  }
}

.about-studio-more-container {
  height: 0;
  transition: 1s;
  overflow: hidden;
}

.about-studio-more-text-xs,
.about-studio-more-text-lg {
  margin: 0 !important;
}

.about-studio-more-text-lg {
  opacity: 0;
  display: none;
}

.reveal-text-xs-1 {
  height: 250px;
}

.reveal-text-xs-2 {
  height: 220px;
}

.reveal-text-xs-3 {
  height: 180px;
}

.reveal-text-sm {
  height: 110px;
}

.reveal-text-md {
  height: 80px;
}

// Our Services

.our-services-section {
  background-color: $main-white;
}

.services-card-container {
  .card {
    border: none;
  }
}

.card-img-container {
  width: 90px;
  height: 90px;
}

.service-description {
  color: $service-description-color;
  line-height: 170%;
}

.free-consultation-button {
  background-color: transparent;
  border: $button-border;
}

// Our Pricing

.our-pricing-section {
  background-color: $main-white;
  .card {
    background-color: $pricing-card-color;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    .card-body {
      padding: 0 !important;
    }

    .card-body > span {
      display: block;
      height: 1px;
      width: 68%;
      background-color: $splitting-line-color;
      transition: background-color 0.5s ease-in-out;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        line-height: 180%;
        color: $main-black;
        font-weight: 500;
        transition: color .5s ease-in-out;
      }
    }
    p {
      margin: 0;
    }
    &:hover {
      transform: rotateX(0deg) rotateY(0deg);
    }
  }

  .active {
    background-color: $main-orange !important;
    .pricing-type,
    .price,
    .per-month {
      color: $main-white !important;
    }
    .card-body > span {
      background-color: $main-white !important;
    }

    ul {
      li {
        color: $main-white !important;
      }
    }

    button {
      transition: all .5s ease-in-out;
    }
  }
}

.pricing-type,
.price,
.per-month {
  font-weight: 400;
  font-family: "BN Chester";
  color: $main-black;
  transition: color 0.5s ease-in-out;
}

// Testimonials

.testimonials-section {
  flex-direction: column;
}

.carousel {
  width: 100%;
  .card {
    border: none;
  }
  .card-body {
    flex-direction: column;
  }
}

.testimonials-owner > img {
  border-radius: 50%;
}

.owner-info {
  flex-direction: column;
  justify-content: space-evenly;
}

.owner-info > span {
  width: 100%;
  height: 1px;
  background-color: $splitting-line-color;
}

.name {
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0;
}

.social {
  justify-content: space-between;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      display: block;
    }
    text-decoration: none;
  }
}

.carousel-indicators {
  max-width: 120px;
  margin: auto !important;
  bottom: 5% !important;
  button {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    background-color: $carousel-indicators-color !important;
    opacity: 1 !important;
  }

  .active {
    background-color: $main-orange !important;
  }
}

.logo {
  max-width: 140px;
  display: block;
}

// Animations

@keyframes reveal-to-top {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes reveal-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes reveal-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes reveal-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
