@import "../helpers/variables";

@media (min-width: 0px) {
  .navbar {
    padding: 30px !important;
  }

  .header-link {
    display: none;
    color: $header-link-color !important;
  }

  .header-right-section {
    display: none;
  }

  .hero {
    height: fit-content;
    flex-direction: column;
  }

  .hero-img {
    opacity: 0;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  .hero-header {
    align-items: center;
    padding: 80px 30px 30px 30px !important;
    h1 {
      font-size: 48px;
      font-family: "BN Chester";
      font-weight: 400;
      color: $hero-header-color;
    }
    p {
      margin-top: 30px;
    }
  }

  .get-started-button {
    height: 48px;
    width: 100%;
    margin: 40px 0px 0px 0px;
    color: $main-black;
  }

  .section-header {
    font-weight: 400;
    font-size: 32px;
    font-family: "BN Chester";
    margin: 0;
    span {
      font-weight: 400;
      font-size: 32px;
      font-family: "BN Chester";
      color: $main-orange;
    }
  }

  .about-studio-row {
    margin: 60px 30px 30px 30px !important;
    p {
      margin: 30px 0px;
    }
  }

  .about-studio-more {
    margin-top: 0 !important;
  }

  .more {
    max-width: fit-content !important;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline $main-orange;
    text-underline-offset: 5px;
  }

  .services-card-container {
    position: relative;
    margin-top: 100px !important;
    &:nth-child(1) {
      margin-top: 30px !important;
    }
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $splitting-line-color;
      top: 118%;
    }
    .card {
      min-width: 270px;
      max-width: 270px;
    }
  }

  .our-services-section {
    padding: 50px 30px 30px;
    .section-header {
      max-width: 120px;
    }
  }

  .free-consultation-button {
    display: none;
  }

  .our-portfolio-section {
    padding-top: 65px;
    .section-header {
      margin-bottom: 65px;
    }
  }

  .tabs-container {
    padding: 0px 30px 50px !important;
  }

  .tabs-container > a {
    display: none;
  }

  .tabs {
    max-width: 550px;
    flex-wrap: wrap;
    a {
      font-size: 13px;
      font-weight: 600;
      text-decoration: none;
      &:nth-child(1) {
        color: $main-orange !important;
        font-weight: 700;
      }
    }
  }

  .gallery {
    justify-content: center;
    padding: 0 !important;
    a {
      margin: 50px 0px;
    }
    img {
      border-radius: 0px !important;
    }
    .card {
      border: none;
    }
  }

  .gallery > div {
    &:nth-child(n + 4) {
      display: none;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-top: 18px;
    }
  }

  .our-pricing-section {
    flex-direction: column;
    .card {
      height: 320px;
      width: 100%;
      border: 1px solid $main-orange;
      ul {
        li {
          font-size: 14px;
        }
      }
    }
    h2 {
      margin: 65px 0px;
    }
    .card-body {
      flex-direction: column;
    }
    .row {
      row-gap: 30px;
      column-gap: 30px;
      margin-bottom: 30px;
    }
  }

  .price-container {
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pricing-type {
    font-size: 20px;
    margin-top: 20px !important;
  }

  .price {
    font-size: 28px;
  }

  .per-month {
    color: $per-month-color !important;
  }

  .buy-now-button {
    height: 40px;
    width: 100%;
    background-color: $main-orange;
    border: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 700;
    color: $main-white;
  }

  .testimonials-section {
    .section-header {
      margin: 60px 0px;
    }
  }

  .testimonials-owner {
    align-items: center;
  }

  .testimonials-owner > img {
    margin-right: 15px;
    max-width: 40%;
  }

  .carousel {
    height: 460px;
    .card {
      height: 380px;
      max-width: 355px;
      border-radius: 10px;
    }
    .card-body {
      padding: 25px !important;
    }
    .card-body > p {
      margin-bottom: 0;
    }
  }

  .carousel-item {
    padding: 0px 30px;
    &:nth-child(1) {
      .card {
        &:nth-child(2) {
          display: none;
        }
      }
    }
    &:nth-child(2) {
      .card {
        &:nth-child(1),
        &:nth-child(3) {
          display: none;
        }
      }
    }
    &:nth-child(3) {
      .card {
        &:nth-child(1),
        &:nth-child(3) {
          display: none;
        }
      }
    }
    &:nth-child(4) {
      .card {
        &:nth-child(1) {
          display: none;
        }
      }
    }
  }

  .owner-info {
    height: 100%;
    width: 100%;
    .social {
      max-width: 90px;
      a {
        height: 30px;
        img {
          width: 18px;
        }
      }
    }
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex !important;
    justify-content: center;
  }

  .name {
    width: min-content;
  }

  .position {
    font-weight: 500;
    color: $position-sm-color;
    font-size: 14px;
    margin-bottom: 0;
  }

  .question-section {
    flex-direction: column;
    align-items: center;
    background-color: $main-white;
    padding: 40px 30px !important;
    .col {
      justify-content: center;
    }
    h2 {
      text-align: center;
    }
    .get-started-button {
      margin: 35px 0px 0px 0px;
    }
  }

  footer {
    padding: 0px 30px 35px;
    .social {
      width: 100px;
      a {
        width: 28px;
        height: 28px;
        img {
          width: 20px;
        }
      }
    }
  }

  .footer-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0px;
    p,
    .license {
      display: none;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    p {
      margin-bottom: 0 !important;
    }
  }

  .contacts > p {
    font-weight: 600;
  }

  .navigation-container,
  .navigation {
    display: none;
  }

  .navigation > p {
    &:nth-child(1) {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
    font-size: 14px;
    margin: 24px 0px 0px;
    text-decoration: none;
    cursor: pointer;
  }

  .address,
  .email,
  .phones {
    margin-top: 35px;
    p {
      &:nth-child(1) {
        color: $contacts-color;
      }
      &:nth-child(2) {
        margin-top: 5px;
        font-size: 14px;
      }
    }
  }

  .address {
    margin-top: 24px !important;
  }

  .license {
    margin-top: 70px !important;
  }
}
