$button-border: 2px solid #d3a265;

// Colors
$main-white: #fff;
$main-black: #161616;
$main-orange: #d3a265;
$per-month-color: #bbb;
$contacts-color: #878787;
$hero-header-color: #3d3737;
$header-link-color: #352c2c;
$position-sm-color: #948b8b;
$position-xl-color: #b5b5b5;
$pricing-card-color: #fdfbf8;
$splitting-line-color: #dcd1bb;
$body-background-color: #f4f4f4;
$carousel-indicators-color: #dfdfdf;
$service-description-color: #8d8d8d;