@import url("../../fonts/Gilroy/stylesheet.css");
@import url("../../fonts/BN-Chester/stylesheet.css");
@import "../helpers/variables";

// Form

* {
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-orange !important;
}

h1,
h3 {
  font-family: "BN Chester";
  color: $main-black;
  font-weight: 600 !important;
}

h1 {
  margin: 30px 0px 0px;
  text-align: center;
  span {
    color: $main-orange;
  }
}

h3 {
  font-size: 16px !important;
  margin: 15px 0px 15px 0px;
  text-align: center;
  span {
    color: $main-orange;
  }
}

.return-link {
  position: absolute;
  top: -10%;
  left: 0;
  color: $main-white;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: $main-white;
  }
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 30px 10px;
  background-color: $main-white;
  border-radius: 20px;
  box-shadow: 8px 8px 16px #ab8352, -8px -8px 16px #fbc178;
}

.header-container {
  h1 {
    span {
      font-family: "BN Chester";
      font-size: calc(1.375rem + 1.5vw);
    }
  }
  p {
    text-align: center;
    span {
      color: $main-orange;
    }
  }
}

.form-name-container,
.form-phone-number-container,
.submit-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  label {
    position: absolute;
    left: 0;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
    color: $main-black;
  }
}

.input-field {
  border-bottom: 2px solid $main-orange !important;
  height: 24px;
  width: 100%;
  padding: 0;
  border: none;
  margin: 30px 0px !important;
  background-color: transparent;
  position: relative;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: transparent;
    
  }
}

.submit-button {
  height: 40px;
  width: 100%;
  border: $button-border;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 30px !important;
}

.flag-container {
  opacity: 0;
}

.reveal-placeholder {
  &::-webkit-input-placeholder {
    transition: opacity 0.5s ease-in-out;
    color: gray;
  }
}

.hide {
  display: none;
}
