<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<display-name>AdminServlet</display-name>
		<description></description>
		<servlet-class>com.myproject.idstudio.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthnServlet</servlet-name>
		<display-name>AuthnServlet</display-name>
		<description></description>
		<servlet-class>com.myproject.idstudio.servlets.AuthnServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CallOrderServlet</servlet-name>
		<display-name>CallOrderServlet</display-name>
		<description></description>
		<servlet-class>com.myproject.idstudio.servlets.CallOrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PageServlet</servlet-name>
		<display-name>PageServlet</display-name>
		<description></description>
		<servlet-class>com.myproject.idstudio.servlets.MainPageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CodeChangeServlet</servlet-name>
		<display-name>CodeChangeServlet</display-name>
		<description></description>
		<servlet-class>com.myproject.idstudio.servlets.CodeChangeServlet</servlet-class>
	</servlet>

</web-app>
